contextual-cards {
	background-color: grey;
}

contextual-card md-card {
  -webkit-box-shadow: none;
  box-shadow: none;
}

contextual-card .card-header {
  text-align: center;
  padding-top: 10px;
  height: 100%;
}

contextual-card .card-header md-icon {
  height: 60px;
  width: 60px;
}