side-nav [ui-sref] {
  margin: 0;
}

.nav-list {
  margin-top: 16px;
  display: block;
  margin-bottom: 20px;
}

.nav-list .md-subheader .md-subheader-inner {
  padding: 6px 16px 6px 26px;
}

side-nav md-list-item.active {
  background-color: rgba(158,158,158,0.2);
}

.nav-list md-list-item.md-2-line,
.nav-list md-list-item.md-2-line [ui-sref] {
  padding: 0px !important;
  min-height: auto !important;
}

.nav-list md-list-item .md-list-item-text {
  padding: 6px 16px 6px 26px;
}

.nav-list md-list-item md-icon {
  padding: 16px;
}

md-list-item.plus {
  min-height: auto !important;
  padding: 6px 16px 6px 26px;
}