<timeline>
  <timeline-event>
      <timeline-badge class="{{event.badgeClass}}">
        <avatar user="currentUser"></avatar>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <div layout="row" layout-align="end center">
          <div flex></div>
          <md-icon class="md-accent" ng-click="addMessage(newMessage)"md-svg-icon="action:face"></md-icon>
        </div>
        <md-input-container class="md-block">
          <label>Nouveau message</label>
          <textarea ng-model="newMessage.body" columns="1" md-maxlength="150" rows="5"></textarea>
          <small class-'md-caption'>Ce message sera vu par...</small>
        </md-input-container>
      </timeline-panel>
    </timeline-event>
    <timeline-event ng-repeat="event in events">
      <timeline-badge class="{{event.badgeClass}}">
        <md-icon class="md-accent" style="height:50px;width:50px;padding-bottom:5px;" md-svg-icon="action:face"></md-icon>
      </timeline-badge>
      <timeline-panel class="{{event.badgeClass}}">
        <timeline-heading>
          <h4>{{event.title}}</h4>
        </timeline-heading>
        <p>{{event.content}}</p>
      </timeline-panel>
    </timeline-event>
  </timeline>