<md-card>
	<div class="image-wrap" id="wrapper">
		<img class="md-card-image" src="http://vc.hudl.com/yr9/nef/8ae2afae-d0e5-4c3d-8742-c9a78f838538/039-_XXL.jpg?v=460DC19A22D6D108">
	</div>
	<md-card-content style="padding:0px">
		<div style="padding:24px 26px 0px 26px;">
			<h2 class="md-title" >{{ location.description }}</h2>
			<p>école secondaire</p>
		</div>
		<div class="md-actions" layout="row" layout-align="start center">
			<md-button>infos</md-button>
			<md-menu md-position-mode="target-right target">
        <md-button ng-click="$mdOpenMenu()">options</md-button>
        <md-menu-content width="6">
          <md-menu-item ng-repeat="item in [1, 2, 3]">
            <md-button> <span md-menu-align-target>Option</span> a </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
		</div>
		<md-list>	
				<md-list-item ng-repeat="intervention in location.interventions" style="padding:0px 26px;">
					<div class="md-list-item-text" layout="row" layout-fill>
						<div flex="90">
							{{ intervention.dateRange.start | date: 'H' }}:{{ intervention.dateRange.start | date: 'mm' }} - {{ intervention.dateRange.end | date: 'H' }}:{{ intervention.dateRange.end | date: 'mm' }}
						</div>
						<div flex="10" style="text-align: right;">
							<md-icon md-svg-icon="heart_outline" ng-click="clicked=true" ng-hide="clicked"></md-icon>
							<md-icon class="md-accent" md-svg-icon="heart" ng-click="clicked=false" ng-show="clicked"></md-icon>
						</div>
					</div>
					<md-divider ng-if="!$last"></md-divider>
				</md-list-item>
			</md-list>
		</md-card-content>
	
</md-card>