<md-card>
	<md-card-header>
  	<md-icon md-svg-icon="{{ contextualCard.icon }}"></md-icon>
    <h1 class="md-headline">{{ contextualCard.title }}</h1>
	</md-card-header>
  <md-card-content>
    <md-list>	
			<md-list-item ng-repeat="item in contextualCard.list">
				<div class="md-list-item-text"
						 flex="90"
						 layout-fill
						 ng-include src="contextualCard.itemTemplate">
				</div>
				<div flex="10" class="info-icon">
					<md-icon md-svg-icon="info"></md-icon>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
  </md-card-content>
</md-card>