<md-sidenav class="md-sidenav-left md-whiteframe-2dp"
            md-component-id="side-nav"
            md-is-locked-open="$mdMedia('gt-sm')" layout="column"> 

  <md-toolbar style="min-height: 160px;">
    <div layout="row">
      <md-menu>
        <md-button aria-label="Options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon class="md-accent" md-svg-icon="navigation:more_vert"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="sideNavCtrl.showNotifications()">
                <div layout="row">
                  <p flex>Notifications</p>
                  <md-icon md-menu-align-target md-svg-icon="social:notifications"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
            <md-button ng-click="sideNavCtrl.showProfil()">
                <div layout="row">
                  <p flex>Profil</p>
                  <md-icon md-menu-align-target md-svg-icon="action:account_circle"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="sideNavCtrl.logout()">
                <div layout="row">
                  <p flex>Déconnexion</p>
                  <md-icon md-menu-align-target md-svg-icon="action:exit_to_app"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      <h3 flex class="md-subhead">Gestigris - Interventions</h3>
    </div>
    <div layout="row" layout-align="start center" class="md-padding">
      <avatar user="currentUser"></avatar>
      <div flex class="md-padding">{{ currentUser.toString() }}</div>
    </div>  
  </md-toolbar>

  <md-content layout="column" md-scroll-y flex>
  
    <md-list>
      <md-list-item ui-sref-active="active" ui-sref="conversations">
        <p>Conversations</p>
      </md-list-item>
      <conversation-side-nav-list ng-if="conversations.equipe.length > 0"
                                  title="De l'équipe"
                                  chunk-size="3"
                                  type="equipe">
      </conversation-side-nav-list>
      <md-divider></md-divider>
      <md-list-item ui-sref-active="active" ui-sref="interventions">
        <p>Interventions</p>
      </md-list-item>
      <plage-side-nav-list ng-if="plagesInterventions.waiting.length > 0"
                           title="En attente de confirmation"
                           chunk-size="3"
                           type="waiting">
      </plage-side-nav-list>
      <plage-side-nav-list ng-if="plagesInterventions.confirmed.length > 0"
                           title="Confirmées"
                           chunk-size="3"
                           type="confirmed">
      </plage-side-nav-list>
    </md-list>

  </md-content>
</md-sidenav>