<md-sidenav class="md-sidenav-left md-whiteframe-z2"
            md-component-id="side-nav"
            md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-theme-indigo">
    <div layout="row">
      <md-menu>
        <md-button aria-label="Options" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon class="md-accent" md-svg-icon="navigation:more_vert"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="item in [1, 2, 3]">
            <md-button ng-click="ctrl.announceClick($index)">
                <div layout="row">
                  <p flex>Option {{item}}</p>
                  <md-icon md-menu-align-target md-svg-icon="call:portable-wifi-off" style="margin: auto 3px auto 0;"></md-icon>
                </div>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      <h3 flex class="md-subhead">Gestigris - Interventions</h3>
    </div>
    <div layout="row" layout-align="start center" class="md-padding">
      <md-icon class="md-accent" style="height: 60px;width: 60px;" md-svg-icon="action:face"></md-icon>
      <div flex class="md-padding">Steve Boisvert</div>
    </div>  
  </md-toolbar>
  <md-content>
    <md-list>
      <md-list-item ui-sref-active="active" ui-sref="conversations">
        <p>Conversations</p>
        <md-icon class="md-accent" md-svg-icon="communication:message"></md-icon>
      </md-list-item>
      <conversation-side-nav-list ng-if="conversations.equipe.length > 0"
                                  title="De l'équipe"
                                  chuckSize="5"
                                  type="equipe">
      </conversation-side-nav-list>
      <md-divider></md-divider>
      <md-list-item ui-sref-active="active" ui-sref="interventions">
        <p>Interventions</p>
        <md-icon md-svg-icon="navigation:expand_less"></md-icon>
      </md-list-item>
      <plage-side-nav-list ng-if="plagesInterventions.waiting.length > 0"
                           title="En attention de confirmation"
                           chuckSize="3"
                           type="waiting">
      </plage-side-nav-list>
      <plage-side-nav-list ng-if="plagesInterventions.confirmed.length > 0"
                           title="Confirmées"
                           chuckSize="3"
                           type="confirmed">
      </plage-side-nav-list>
    </md-list>
  </md-content>
</md-sidenav>