<md-content login-form layout="column" layout-padding class="md-whiteframe-z2" flex>
  <div layout="row" flex>
    <md-icon class="login-icon" md-svg-icon="{{ lockIconName }}" ng-click="secureLogin()"></md-icon>
  </div>
  <form name="loginForm"
        novalidate  
        ng-submit="signin(loginForm, credentials)">
    <md-input-container class="md-icon-float">
      <label translate="LOGIN_FORM.EMAIL.DESCRIPTION"></label>
      <md-icon md-svg-icon="event" class="name"></md-icon>
      <input type="email"
             name="userName"
             required
             ng-model="credentials.username">
      <div ng-messages="loginForm.userName.$error" ng-if="loginForm.$submitted">

        <div ng-message="required"><span translate="LOGIN_FORM.EMAIL.ERRORS.REQUIRED"></span></div>
        <div ng-message="email"><span translate="LOGIN_FORM.EMAIL.ERRORS.INVALID"></span></div>
      </div>
    </md-input-container> 
   
    <md-input-container class="md-icon-float">
      <label translate="LOGIN_FORM.PASSWORD.DESCRIPTION"></label>
      <md-icon md-svg-icon="event" class="name"></md-icon>
      <input type="password"
           name="password"
           required
           ng-model="credentials.password">
      <div ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted">
        <div ng-message="required"><span translate="LOGIN_FORM.PASSWORD.ERRORS.REQUIRED"></span></div>
      </div>
    </md-input-container>

    <div class="md-actions" layout="row">
      <md-button class="md-raised md-primary" flex type="submit" translate="LOGIN_FORM.BUTTONS.SIGN_IN" aria-label="{{'LOGIN_FORM.BUTTONS.SIGN_IN' | translate}}"></md-button>
    </div>

    <div ng-click="resetPassword()" class="text-center" translate="LOGIN_FORM.PASSWORD.RESET_PASSWORD"></div>
    
  </form>
</md-content>