<md-content flex>
  <div ng-hide="plagesInterventions"
       layout="row" layout-align="center center" layout-margin>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div ng-show="plagesInterventions"
       layout="row" layout-align="end center" layout-margin>
  	<div flex="80"></div>
  	<md-select ng-model="interventionSectionCtrl.selectedFilter">
      <md-option ng-repeat="option in interventionSectionCtrl.filters"
      					 ng-value="option">
      	{{option}}
      </md-option>
    </md-select>
  </div>
  <div layout="row" layout-wrap>
		<plage-intervention-card flex="33"
														 plage="plage" 
														 ng-repeat="plage in plagesInterventions.open"
	  </plage-intervention-card>
  </div>
</md-content>