<div layout="row">
	<div flex="70" layout="column" layout-padding>
		<h1 class="md-headline">À combler</h1>
		<div layout="row" flex layout-wrap>
			<etablissement-interventions-card style="width:400px;"
																				ng-repeat="data in prochainesInterventions"
																				etablissement="data.etablissement"
																				interventions="data.interventions">
			</etablissement-interventions-card>
		</div>
	</div>
	<contextual-cards layout="column" flex="30">
		<contextual-card user-interventions-list ></contextual-card>
		<contextual-card urgences-interventions-list></contextual-card>
	</contextual-cards>
</div>