<md-list-item class="md-whiteframe-1dp" style="background:white;">
	<div layout="row">
		<div class="md-display-3">{{ date.date() }}</div>
		<div layout="column" style="padding-left:8px;">
			<div class="md-headline">{{ date.format("MMMM") }}</div>
			<div>{{ date.year() }}</div>
		</div>
	</div>
</md-list-item>
<expendable-list>
	<md-list-item expendable-list-item style="background:white;"
								class="md-whiteframe-1dp"
								ng-repeat="intervention in interventions">
		<div layout="row">
			<div layout="row">
				<span class="md-display-1">{{ intervention.date.start.hours() }}</span>
				<span style="padding-left:2px;">{{ intervention.date.start.minutes() }}</span>
			</div>
			<div layout="column" style="padding-left:8px;">
				<div class="md-subhead" style="padding-top: 8px;font-size: 14px;line-height: 12px;">{{ intervention.etablissement.toString() }}</div>
				<div style="font-size: 13px;">{{ intervention.duree.format('h [hrs], m [min]') }}</div>
			</div>
		</div>
		<expendable-list-item-body>
			DÉTAILS
		</expendable-list-item-body>
	</md-list-item>
</expendable-list>