<div flex>
  <div ng-hide="showCard"
       layout="row" layout-align="center center" layout-margin>
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div class="md-whiteframe-1dp" ng-show="showCard">
	  <div layout="row">
			<etablissement-image height="200px" width="290px" etablissement="interventionFicheCtrl.etablissement"></etablissement-image>
			<!--<div ng-if="showMap">
				<etablissement-map  height="200px" width="625px" etablissement="interventionFicheCtrl.etablissement"></etablissement-map>
			</div>-->
		</div>
		<md-divider></md-divider>
			<div layout="row" layout-margin>
				<div flex="50">
					<div layout="row">
		    		<div class="md-display-3">{{ interventionFicheCtrl.plageIntervention.date.date() }}</div>
						<div layout="column" style="padding-left:8px;">
							<div class="md-headline">{{ interventionFicheCtrl.plageIntervention.date.format("MMMM") }}</div>
							<div>{{ interventionFicheCtrl.plageIntervention.date.year() }}</div>
						</div>
					</div>
					<md-list>
	      		<md-list-item layout="column" ng-repeat="intervention in interventionFicheCtrl.interventions">
	      			<div flex style="width:100%" layout="row">
	      				<div flex layout="column">
	      					<div>
										{{ intervention.date.start.hours() }}:{{ intervention.date.start.minutes() }} - {{ intervention.date.end.hours() }}:{{ intervention.date.end.minutes() }}
									</div>
									<div layout="row">
										<span class="md-caption intervention_tag"
										 			ng-repeat="tag in intervention.tags">
	          					{{ tag.name }}
	        					</span>
									</div>
								</div>
								<participation-button intervention="intervention"></participation-button>
	      			</div>
							<div layout="column" style="width:100%" ng-if="intervention.isConfirmed()">
								<div class="md-caption">Participants</div>
								<div layout="row">
									<avatar user="participant" ng-repeat="participant in intervention.participants"></avatar>
								</div>
							</div>
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>			
				</div>
				<div flex="50">
					infos sur {{ interventionFicheCtrl.etablissement.toString() }}
					<p>On met quoi ici ? :)</p>
				</div>
			</div>
	</div>
	<div ng-if="interventionFicheCtrl.plageIntervention.hasConfirmed()">
		<h3>Conversation avec les participants</h3>		
		<conversation conversation="interventionFicheCtrl.plageIntervention.conversation"></conversation>
	</div>
</div>