<md-toolbar class="md-accent">
  <div class="md-toolbar-tools">
  	<h2>
    	<span>{{ interventionFicheCtrl.plageIntervention.date.format('[Le] dddd DD MMMM YYYY') }}</span>
    </h2>
    <span flex></span>
    <md-button class="md-icon-button" aria-label="More">
      <md-icon md-svg-icon="content:clear" ng-click="interventionFicheCtrl.close()"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-content layout="column">

	<div ng-hide="interventionFicheCtrl.plageIntervention"
  	   layout="row" layout-align="center center" layout-margin>
  	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>

	<md-card ng-show="interventionFicheCtrl.plageIntervention" style="min-height:200px">
	  <etablissement-map height="200px"
											 width="100%"
											 etablissement="interventionFicheCtrl.etablissement">
		</etablissement-map>
	</md-card>

	<!-- N'a pas d'intervention confirmée -->

	<div ng-if="!interventionFicheCtrl.plageIntervention.hasConfirmed()"
			 layout="row" layout-xs="column" layout-wrap>

		<md-card flex="30" flex-xs="100" style="min-height:120px;min-width:300px"
						 ng-repeat="intervention in interventionFicheCtrl.interventions">
			<md-card-header layout="column">
				<md-card-header-text layout="row" layout-align="start center">
	        <span class="md-title" flex>{{ intervention.date.start.format('HH:mm') }} - {{ intervention.date.end.format('HH:mm') }}</span>
			   	<participation-button intervention="intervention"></participation-button>
	      </md-card-header-text>
        <intervention-tags tags="intervention.tags"></intervention-tags>
	    </md-card-header>
		</md-card>

	</div>

	<!-- A au moins une intervention confirmée -->

	<div ng-if="interventionFicheCtrl.plageIntervention.hasConfirmed()"
			 layout="row">

		<div flex="40">

			<md-card ng-repeat="intervention in interventionFicheCtrl.interventions">
				<md-card-header layout="column">
					<md-card-header-text layout="row" layout-align="start center">
		        <span class="md-title" flex>{{ intervention.date.start.format('HH:mm') }} - {{ intervention.date.end.format('HH:mm') }}</span>
				   	<participation-button intervention="intervention"></participation-button>
		      </md-card-header-text>
          <intervention-tags tags="intervention.tags"></intervention-tags>
		    </md-card-header>
				<md-card-content style="padding-top:0px">
				  <span class="md-subhead">Participants</span>
				  <md-list>
			      <md-list-item class="md-2-line" style="padding:0px"
			      						  ng-repeat="participant in intervention.participants">
			      	<avatar user="participant"></avatar>
			      	<div class="md-list-item-text" layout="column" style="margin-left:5px;">
		          	<h3>{{ participant.getFullName() }}</h3>
						  	<span class="md-caption" style="line-height:20px;">
						  		{{ participant.getTitle() }}
						  		<md-icon ng-if="participant.hasCar()" md-svg-icon="maps:directions_car"
						  						 style="margin:0px;height:16px;width:16px;margin-bottom:4px;">
						  		</md-icon>
						  	</span>
		        	</div>
		        </md-list-item>
		      </md-list>
      				  	<div>Infos supplémentaires sur l'intervention confirmée.</div>

				 	</md-card-content>
			</md-card>


		</div>

		<div flex="60">
			<md-card layout-margin flex style="min-height:270px">
				<md-card-header>
			    <md-card-header-text>
			      <span class="md-title">Conversation avec les participants</span>
			    </md-card-header-text>
			  </md-card-header>
			  <md-card-content style="padding-top:0px">
					<conversation  conversation="interventionFicheCtrl.plageIntervention.conversation"></conversation>
				</md-card-content>
			</md-card>
		</div>

	</div>
</md-content>
