<md-card>
  <etablissement-map height="200px"
      							 width="100%"
                     dragging="false" scroll-wheel-zoom="false"
       							 etablissement="plage.etablissement">
  </etablissement-map>
  <md-divider></md-divider>
  <md-card-content>
  	<div layout="row">
    	<div class="md-display-3">{{ plage.date.date() }}</div>
			<div layout="column" style="padding-left:8px;">
				<div class="md-title" style="padding-top: 6px;">{{ plage.date.format('dddd') }}</div>
				<div style="line-height: 8px;">{{ plage.date.format("MMMM") }} {{ plage.date.year() }}</div>
			</div>
      <md-icon md-svg-icon="action:open_in_new" style="margin-right:0" ui-sref="intervention({ plageInterventionId: plage._id })"></md-icon>
		</div>
    <intervention-tags tags="plage.tags"></intervention-tags>
  </md-card-content>
  <md-divider></md-divider>
  <div layout="row" layout-margin>
    <div layout="row" layout-align="center start">
      <md-icon ng-if="plage.hasOpen()" md-svg-icon="action:favorite_border"></md-icon>
      <md-icon class="WAITING" ng-if="plage.hasWaiting()" md-svg-icon="action:favorite"></md-icon>
      <md-icon class="CONFIRMED" ng-if="plage.hasConfirmed()" md-svg-icon="navigation:check"></md-icon>
      <md-icon class="REFUSED" ng-if="plage.hasRefused()" md-svg-icon="social:mood_bad"></md-icon>
    </div>
    <span flex></span>
    <ng-pluralize count="plage.interventions.length"
                  when="{'1': '{} intervention',
                         'other': '{} interventions'}">
    </ng-pluralize>
  </div>
</md-card>
